.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: #ffffff;
	box-shadow: 0px 0px 20px #eaeaea;
	padding: 19px 0;
	@include screen-1024 {
		padding: 9px 0;
	}
	&__body {
		display: flex;
		align-items: center;
		@include screen-1400 {
			justify-content: space-between;
		}
		> * {
			&:not(:last-child) {
				margin-right: calc(65 / 1380 * 100%);
				@include screen-1400 {
					margin-right: 10px;
				}
			}
		}
	}

	&__logo {
		width: 162px;
		@include screen-1200 {
			max-width: 125px;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include screen-480 {
			display: none;
		}
		> a {
			display: block;
			font-size: 17px;
			line-height: 23px;
			transition: all 0.3s ease 0s;
			margin-bottom: 7px;
			@include screen-1024 {
				margin: 0;
			}
			&:hover {
				color: $color-green-hover;
			}
		}
		ul {
			display: flex;
			align-items: center;

			li {
				&:not(:last-child) {
					margin-right: 20px;
				}
				a {
					svg {
						width: 16px;
						height: 16px;
						fill: $color-green;
						transition: all 0.3s ease 0s;
					}
					@media (any-hover) {
						&:hover {
							svg {
								fill: $color-green-hover;
							}
						}
					}
				}
			}
		}
	}
}
.menu {
	@media (min-width: 1025px) {
		> ul {
			display: flex;
			align-items: center;
			> li {
				position: relative;
				&:not(:last-child) {
					margin-right: 43px;
					@include screen-1400 {
						margin-right: 30px;
					}
					@include screen-1200 {
						margin-right: 20px;
					}
				}
				&:hover {
					> ul {
						opacity: 1;
						visibility: visible;
						top: 100%;
						pointer-events: all;
					}
				}
				> a {
					font-weight: 300;
					font-size: 16px;
					line-height: 1.35;
					transition: all 0.3s ease 0s;
					position: relative;
					cursor: pointer;
					padding-bottom: 10px;
					margin-bottom: -10px;
					&::before {
						content: "";
						position: absolute;
						width: 0;
						top: -2px;
						left: -2px;
						height: 1px;
						background: $color-dark-grey;
						opacity: 0;
						transition: all 0.3s ease 0s;
					}
					&:hover {
						color: $color-green-hover;
						&::before {
							width: calc(50% + 2px);
							opacity: 1;
						}
					}
					&.active {
						font-weight: 600;
						color: #49c5b6;
						&::before {
							width: calc(100% + 4px);
							opacity: 1;
						}
					}
				}
				> ul {
					position: absolute;
					top: 120%;
					left: 0;
					background: #ffffff;
					box-shadow: 0px 0px 20px #eaeaea;
					opacity: 0;
					visibility: hidden;
					transition: all 0.3s ease 0s;
					z-index: 11;
					min-width: 240px;
					pointer-events: none;
					li {
						padding: 11px 16px;
						&:not(:last-child) {
							border-bottom: 1px solid $color-light-grey;
						}
						a {
							white-space: nowrap;
							font-size: 16px;
							line-height: 1.56;
							&:hover {
								color: $color-green;
							}
						}
					}
				}
			}
		}
	}

	@include screen-1024 {
		position: fixed;
		top: 25%;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color-white;
		opacity: 0;
		visibility: hidden;
		transition: all 0.6s ease-in-out 0s;
		&.open {
			top: 60px;
			opacity: 1;
			visibility: visible;
		}

		a {
			transition: all 0.3s ease 0s;
			&:hover {
				color: $color-green-hover;
			}
		}
		> ul {
			max-width: 768px;
			padding: 20px 14px 30px;
			margin: 0 auto;
			> li {
				margin-bottom: 20px;
				> a {
					font-weight: 600;
					font-size: 26px;
					line-height: 1.2;
				}
				ul {
					li {
						margin-top: 10px;

						a {
							font-weight: 600;
							font-size: 22px;
							position: relative;
							padding-left: 20px;
							&::before {
								content: "";
								width: 15px;
								height: 1px;
								background: $color-green;
								position: absolute;
								top: 50%;
								left: 0;
								transform: translateY(-50%);
							}
						}
					}
				}
			}
		}
	}
	.header__contacts {
		display: none;
		@include screen-480 {
			display: flex;
			a {
				font-size: 22px;
				margin-bottom: 10px;
				svg {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}
.lang {
	position: relative;
	@include screen-1024 {
		margin-left: auto;
	}
	&__current {
		padding: 7px 14px;
		font-size: 17px;
		line-height: 23px;
		border: 1px solid #e8e8e8;
		transition: all 0.3s ease 0s;
		display: flex;
		align-items: center;
		svg {
			width: 10px;
			height: 10px;
			margin-left: 6px;
			transition: all 0.3s ease 0s;
		}
		&.active {
			border-bottom-color: $color-white;
			svg {
				transform: rotate(180deg);
			}
		}
	}

	&__dropdown {
		position: absolute;
		top: 120%;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border: 1px solid #e8e8e8;
		border-top: none;
		background: $color-white;
		padding: 7px 14px;
		transition: all 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		&:hover {
			color: $color-green;
		}
		&.active {
			top: 100%;
			opacity: 1;
			visibility: visible;
		}
	}
}
.menu-icon {
	display: none;
}

@include screen-1024 {
	.menu-icon {
		z-index: 15;
		display: block;
		position: relative;
		width: 30px;
		height: 24px;
		cursor: pointer;
		span,
		&::before,
		&::after {
			position: absolute;
			left: 0px;
			height: 3px;
			width: 30px;
			transition: all 0.3s ease 0s;
			background-color: $color-green;
			border-radius: 3px;
		}
		&::before,
		&::after {
			content: "";
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: 50%;
			transform: scale(1) translateY(-50%);
		}
		&.open {
			z-index: 7;
			span {
				transform: scale(0) translateY(-50%);
			}
			&::before {
				top: 50%;
				transform: rotate(-45deg) translateY(-50%);
			}
			&::after {
				bottom: 50%;
				transform: rotate(45deg) translateY(50%);
			}
		}
	}
}
