//<COLORS>========================================
$color-black: #121212;
$color-white: #ffffff;
$color-green: #49c5b6;
$color-green-hover: #3ea79b;
$color-light-grey: #e3e3e3;
$color-dark-grey: #676262;
//</COLORS>========================================

//<FONTS>========================================
$fontFamily: "OpenSans", sans-serif;
$fontFamilySecond: "Cormorant";
$fontSize: 17px;
//</FONTS>========================================

//<SCREENS>========================================
$screen-374: 374px;
$screen-480: 480px;
$screen-768: 768px;
$screen-1024: 1024px;
$screen-1200: 1200px;
$screen-1400: 1400px;
//</SCREENS>========================================
